.header-content {
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding:0 20px;
}

.header-content .left h2{
    margin: 0;
}
.header-content .right span{
    margin-right: 30px;
}


